body {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    max-width: 720px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/death-star-floor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 800px auto;
    background-position: top center;
    background-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;    
}

#instructions {
    margin-bottom: 10px;
    font-size: 24px;
    min-height: 50px;
}

.sm-character {
    display: inline-block;
    text-align: center;
    background-image: radial-gradient( white , transparent 60%);
}

#all-characters .sm-character,
#enemies .sm-character {
    background-image: radial-gradient( white , rgba(0,0,0,0.7) 60%);
    border-style: none;    
    border-color: black;
    border-radius: 20px;
    min-width: 150px;
    margin-right: 10px;
    padding: 8px 0;
}



#all-characters .sm-character::last-child,
#enemies .sm-character::last-child, {
    margin-right: 0;
}

.sm-character img {
    height: 150px;
    display: block;
    margin: 5px auto;
    

}

#player-area, #defender-area {
    text-align: center;
    display: inline-block;
    width: 42%;
    
}

#player, #defender {
    z-index: auto;
    border: solid 0;
    position: relative;
    width: 300px;
}

#player-area .sm-character {
    background-image: radial-gradient(green , transparent 60%);
}

#defender-area .sm-character {
    background-image: radial-gradient(red , transparent 60%);
}

#player img,
#defender img {
    height: 250px;
    background-image: none;
    background-color: transparent;
}

#instructions,
#all-characters,
#enemies {
    text-align: center;
}

#controls {
    display: inline-block;
}

/*
#player::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100px;
    height: 50px;
    width: 200px;
    border-radius: 50%;
    background: none;
    box-shadow: 0 100px 10px 10px blue;
    z-index: -1;
}
*/
#enemies {
    border-width: 3px;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
}

button {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
}