.sm-character {
    display: inline-block;
    min-width: 150px;
    border-style: solid;    
    border-color: black;
    border-width: 5px;
}

.sm-character img {
    height: 150px;
    display: block;
    margin: 0 auto;
}

#player img {
    height: 200px;
}